<div class="row">
  <div class="mt-5 col-lg-10 offset-lg-1">
    <div class="row text-light text-center">
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-11 bg-secondary">
            <p class="m-2">Lorem Ipsum is</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-11 bg-secondary">
            <p class="m-2">Lorem Ipsum is</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-11 bg-secondary">
            <p class="m-2">Lorem Ipsum is</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-11 bg-secondary">
            <p class="m-2">Lorem Ipsum is</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
