<footer class="row bg-secondary">
  <div class="container">
    <div class="row text-light text-justify p-4">
      <div class="col-lg-3">
        <h5>Lorem Ipsum</h5>
        <p>
          <small>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          </small>
        </p>
      </div>
      <div class="col-lg-3">
        <h5>Lorem Ipsum</h5>
        <p>
          <small>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          </small>
        </p>
      </div>
      <div class="col-lg-3">
        <h5>Lorem Ipsum</h5>
        <p>
          <small>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          </small>
        </p>
      </div>
      <div class="col-lg-3">
        <h5>Lorem Ipsum</h5>
        <div class="row text-center">
          <div class="col-lg-4">
            <img alt="Footer image 1" class="img-fluid" src="https://via.placeholder.com/100">
          </div>
          <div class="col-lg-4">
            <img alt="Footer image 2" class="img-fluid" src="https://via.placeholder.com/100">
          </div>
          <div class="col-lg-4">
            <img alt="Footer image 3" class="img-fluid" src="https://via.placeholder.com/100">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
